@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

/* body * {
    outline: 1px solid red;
} */

button {
    cursor: pointer;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("./assets/fonts/Inter.ttf") format("truetype");
}
